@model HotelProject.Models.Order

@{
    ViewData["Title"] = "מחיקת הזמנה";
}

<h1>מחיקת הזמנה</h1>

<h3>האם את/ה בטוח/ה שאת/ה רוצה למחוק?</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FromDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FromDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumOfAdults)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumOfAdults)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumOfKids)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumOfKids)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumOfInfants)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumOfInfants)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="מחיקה" class="btn btn-danger" /> |
        <a asp-action="Index">חזרה לרשימה</a>
    </form>
</div>


@section Css{
    <link rel="stylesheet" href="~/css/Workers.css" />
}