@model IEnumerable<HotelProject.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>רשימת הזמנות קיימות</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FromDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfAdults)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfKids)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfInfants)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                פרטי לקוח
            </th>
            <th>
                חדרים בהזמנה
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FromDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfAdults)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfKids)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfInfants)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.ID)
                @Html.DisplayFor(modelItem => item.Client.Name)
                @*@if (item.Client != null)
                {
                    <a asp-controller="Clients" asp-action="Details" asp-route-id="@item.Client.ID">@item.Client.Name</a>
                }*@
            </td>
            <td>
                @foreach (var room in item.Rooms)
                {
                    @Html.DisplayFor(modelItem => room.RoomId)
                }
                @*@if (item.Rooms != null)
                {
                    @foreach (var r in item.Rooms)
                    {
                        ViewBag.rooms += r.RoomId + ", ";
                    }
                    @ViewBag.rooms
                }*@
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<a asp-controller="Workers" asp-action="ManagerPage">חזרה לדף מנהל</a>

@section Css{
    <link rel="stylesheet" href="~/css/Workers.css" />
}
