@model HotelProject.Models.Order
@{
    ViewData["Title"] = "Payment";
}
@if (ViewBag.OrderFailed != null)
{
    <p>ViewBag.OrderFailed</p>
}


<div class="container paymentBody">
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-2">
            <h1 class="paymentTitle"> פרטי ההזמנה</h1>
            <p>
                <label>Ralon hotel <br></label>
                <label>תאריך הגעה:</label>
                <label>@Model.FromDate.ToString("dd/MM/yyyy")</label><br />
                <label>תאריך עזיבה:</label>
                <label>@Model.ToDate.ToString("dd/MM/yyyy")</label><br />
                <label> @Model.NumOfAdults מבוגרים </label>
                @if (Model.NumOfKids > 0)
                {
                    <label> @Model.NumOfKids ילדים </label>
                }
                @if (Model.NumOfInfants > 0)
                {
                    <label> @Model.NumOfInfants תינוקות </label>
                }
                @if (Model.Rooms != null)
                {
                    <label>מס' חדרים: @Model.Rooms.Count </label>
                    @*@foreach (var room in Model.Rooms)
                    {
                    <p>@room.Room.Type.Name</p>
                    <p>@room.Room.Type.Desc</p>
                    }*@
                }
                <br>
                <label>מחיר: @Model.TotalPrice ₪ </label>
                </p>
            </div>

            <div class="col-sm-12 col-xs-12 col-md-10">
                <form asp-controller="Orders" asp-action="Payment">
                    <div class="row">
                        <div class="col-sm-10 col-xs-10 col-md-5">
                            <h1 class="paymentTitle">פרטי האורח</h1>
                            <ul class="list">
                                <li>
                                    <label>תעודת זהות*</label><br>
                                    <input type="text" name="ID">
                                </li>
                                <li>
                                    <label> שם מלא*</label><br>
                                    <input type="text" name="Name">
                                </li>
                                <li>
                                    <label>אימייל*</label><br>
                                    <input type="email" name="Email">
                                </li>
                                <li>
                                    <label>טלפון*</label><br>
                                    <input type="text" name="PhoneNumber">
                                </li>
                                <li>
                                    <label>כתובת*</label><br>
                                    <input type="text" name="Address">
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-10 col-xs-10 col-md-5">
                            <h1 class="paymentTitle">פרטי תשלום</h1>
                            <ulclass class="list">
                                <li>
                                    <label>מספר כרטיס</label><br>
                                    <input type="text" name="cardNumber">
                                </li>
                                <li>
                                    <label>תוקף כרטיס אשראי</label><br>
                                    @*<input type="text" name="creditValidity">*@
                                    <select name="expiryYear">
                                        <option value="21">2021</option>
                                        <option value="22">2022</option>
                                        <option value="23">2023</option>
                                        <option value="24">2024</option>
                                        <option value="25">2025</option>
                                    </select>
                                    <label>/</label>
                                    <select name="expiryMonth">
                                        <option value="01">1</option>
                                        <option value="02">2 </option>
                                        <option value="03">3</option>
                                        <option value="04">4</option>
                                        <option value="05">5</option>
                                        <option value="06">6</option>
                                        <option value="07">7</option>
                                        <option value="08">8</option>
                                        <option value="09">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>

                                </li>
                                <li>
                                    <label>3 ספרות אחרונות בגב הכרטיס</label><br>
                                    <input type="text" name="cvv">
                                </li>
                                <li>
                                    <label>תעודת זהות של בעל הכרטיס</label><br>
                                    <input type="text" name="idCredit">
                                </li>
                                <li>
                                    <label>מספר תשלומים</label><br>
                                    <input type="text" name="numberOfPayment">
                                </li>
                                <br>
                                <br>
                            </ul class="list">
                            <input type="hidden" asp-for="NumOfInfants"/>
                            <input type="hidden" asp-for="NumOfAdults"/>
                            <input type="hidden" asp-for="NumOfKids"/>
                            <input type="hidden" asp-for="FromDate"/>
                            <input type="hidden" asp-for="ToDate"/>
                             <input type="hidden" asp-for="TotalPrice"/>
                            <button id="btn_invite" type="submit" class="btn btn-outline-warning">הזמן</button>

                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    @section Css{
        <link rel="stylesheet" href="~/css/Payment.css" />
    }