@model HotelProject.Models.RoomType

@{
    ViewData["Title"] = "מחיקת סוג חדר";
}

<h1>מחיקת סוג חדר</h1>


<h3>האם את/ה בטוח/ה שאת/ה רוצה למחוק?</h3>
<div>
    <h4>RoomType</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExtraBeds)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExtraBeds)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.View)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.View)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsBalcony)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsBalcony)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BasicPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BasicPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImgUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImgUrl)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="מחיקה" class="btn btn-danger" /> |
        <a asp-action="Index">חזרה לרשימה</a>
    </form>
</div>

@section Css{
    <link rel="stylesheet" href="~/css/Workers.css" />
}