@model HotelProject.Models.RoomType

@{
    ViewData["Title"] = "פרטי "+ @Model.Name;
}

<div class="container detailsPage">
    <div class="row">
        <div class="col-sm-6 col-6 col-lg-6 left">
            <img src="~/@Model.ImgUrl" class="card-img" alt="...">
        </div>
        <div class="col-sm-6 col-6 col-lg-6 right">
            </br>
            <h1 class="right">@Model.Name</h1>
            </br>
            <p class="right white">@Model.Desc</p>
            </br>
            <div id="moreDetailes">
                <h4>פרטים נוספים</h4>
                <hr />
                <dl class="row hebrew">
                    <dt class="col-sm-6 white">
                        מספר מיטות מקסימלי בחדר:
                    </dt>
                    <dd class="col-sm-2 white">
                        @ViewBag.TotalBads
                    </dd>
                    <dt class="col-sm-6 white">
                        נוף:
                    </dt>
                    <dd class="col-sm-2 white">
                        @ViewBag.View
                    </dd>
                    <dt class="col-sm-6 white">
                        מרפסת:
                    </dt>
                    <dd class="col-sm-2 white">
                        @ViewBag.Balcony
                    </dd>
                    <dt class="col-sm-6 white">
                        מחיר בסיסי לזוג:
                    </dt>
                    <dd class="col-sm-2 white">
                        ₪@Html.DisplayFor(model => model.BasicPrice)
                    </dd>
                </dl>
            </div>
        </div>
        </div>
    <div class="row center hebrew">
        <div class="col-6">
            <input type="button" class="btn btn-outline-warning btn-lg" value="הזמן עכשיו"
                   onclick="location.href='@Url.Action("Index", "Home")'" />
        </div>
        <div class="col-6" style="float:left;">
            <a asp-action="Index">חזור לכל החדרים &larr;</a>
        </div>
    </div>
</div>



@section Css{
     <link rel="stylesheet" href="~/css/room_details.css" />
}
@section Js{
    }
