@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HotelProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Layout.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox-plus-jquery.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/css/lightbox.min.css" rel="stylesheet" />
          @RenderSection("Css", required: false)
          @RenderSection("JS", required: false)

</head>
<body>
    <header style="z-index:3;">
        <nav class="navbar navbar-inverse navbar-expand-sm navbar-toggleable-sm navbar-light bg-black border-bottom box-shadow mb-3" dir="rtl">
            <div class="container">
                <div class="container-fluid">
                    <div class="navbar-header">
                        @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarNav">
                             <span class="icon-bar"></span>
                             <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                              </button>*@
                        <div style="display: flex; direction: rtl; align-items: center; float: left;">
                            <div class="flag">
                                <img width="26px" src="~/img/english.png" alt="logo">
                                <span>EN</span>
                            </div>
                            <div class="logo"> <img width="70px" src="~/img/logo.JPG" alt="logo"></div>

                            <ul>
                                @if (Context.Session.GetString("Name") != null)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Workers" asp-action="Edit" asp-route-id="@Context.Session.GetInt32("Id")"> @Context.Session.GetString("Name")</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Workers" asp-action="Logout">יציאה</a>
                                    </li>
                                }
                                else
                                {
                                    <li id="login" class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Workers" asp-action="Login">כניסה</a>
                                    </li>
                                }
                            </ul>
                        </div>

                    </div>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        @*<ul class="nav navbar-nav">*@
                        <!-- <li class="nav-item">
                             <a class="nav-link" href="searchEngine.html" target="myFrame">דף הבית </a>
                         </li>
                        <!-- <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HotelProject</a>-->
                        @*button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation"*@
                        @*<span class="navbar-toggler-icon"></span>
                            </button>*@
                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" id="navbarNav">
                            <ul class="nav navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">דף הבית</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">אודות</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="RoomTypes" asp-action="Index">חדרים</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ExstaServices">שירותים נוספים</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Events">כנסים ואירועים</a>
                                </li>
                            </ul>
                        </div>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3" style="z-index:1;">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row" style="display: flex;">
                <div class="col-sm-4 g" id="">
                    <img class="abc" src="~/img/instegram.png" alt="logo">
                    <img class="abc" src="~/img/facebook.png" alt="logo">
                    <img class="abc" src="~/img/youtube.png" alt="logo">
                    <img class="abc" src="~/img/twitter.png" alt="logo">
                    <img class="abc" src="~/img/waze.png" alt="logo">

                </div>
                <div class="center_bottom col-sm-4">
                    <div class="font"> לפרטים והזמנות  </div>
                    <span>טלפון:</span>
                    <span>03-5617384</span>
                    <div>03-5617385 :פקס</div>
                    <div>invation@ralonhotel.com :מייל</div><br>
                    <div><span> כתובת המלון: רחוב אלנבי 10, תל אביב</span></div>
                </div>
                <div id="sign" class="col-sm-4">
                    <p>&copy Ralon hotel</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
