@model IEnumerable<HotelProject.Models.Room>

    @{
        ViewData["Title"] = "רשימת חדרים";
    }

    <h1>רשימת חדרים</h1>

    <p>
        <a asp-action="Create">חדר חדש</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsTwinBed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Floor)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsTwinBed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Floor)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">עריכה</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">פרטים</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">מחיקה</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>





@*@model IEnumerable<HotelProject.Models.RoomType>
    @{
            ViewData["title"] = "Index";
        }


    <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4 col-sm-12 col-lg-4">
                        <a asp-action="details" asp-route-id="@item.Id"><h3>@item.Name</h3></a>
                        <img src="@item.ImgUrl" class="card-img" alt="...">
                    </div>
                }
            </div>
        </div>

        @section css{
            <link rel="stylesheet" href="~/css/Roomspages.css" />
        }*@





